.navbar {
    background: linear-gradient(to bottom, rgb(117, 0, 206), rgb(162, 97, 176) 70%, rgb(188, 148, 197));
}
  
.navbar-brand{
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}
  
.nav-link:hover {
    background-image: linear-gradient(to bottom, rgb(117, 0, 206), rgb(162, 97, 176) 60%, rgb(178, 132, 188) 90%, rgb(188, 148, 197));
}

.nav-link {
    padding: 10px 15px;
    font-size: 26px;
    color: black;
  }