.editorContainer {
    position: relative;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
.editorHeader {
    margin-bottom: 10px;
}

.formControl {
    margin-bottom: 20px;
}
  
.submitButton {
    background-image: linear-gradient(144deg,rgb(175, 64, 255), rgb(91, 66, 243) 50%,rgb(0, 221, 235));
    float: right;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.2s;
}
  
.submitButton:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    animation-name: shine;
    animation-duration: 260ms;
}
  